html {
  box-sizing: border-box;
}
*,
*::after,
*:before {
  box-sizing: inherit;
}
body {
  background-color: grey;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}
label {
  display: block;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.calculator__container {
  border: 1px solid black;
  border-radius: 10px;
  width: 700px;
  min-height: 800px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  background: #c9fff9;
  box-shadow: 9px 11px 20px 1px rgba(247, 247, 247, 0.2);
}
.calculator__first input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
}
.calculator__first label {
  margin-bottom: 10px;
}
.calculator__title {
  font-size: 24px;
  margin-bottom: 10px;
}
.calculator__paragraph {
  font-size: 20px;
  margin-bottom: 8px;
  font-family: sans-serif;
}
.calculator__explanation {
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.calculator__center input:nth-child(1) {
  width: 65%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
}
.calculator__center input:nth-child(2) {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid grey;
  cursor: pointer;
} 

.calculator__result {
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 3px;
  background-color: #8983;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.calculator__result-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.calculator_elem {
  flex-basis: 40%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  min-height: 215px;
  font-size: 14px;
}
.calculator_or-list {
  flex-basis: 80%;
}
.calculator_both-probability {
  flex-basis: 80%;
}
.calculator_biathlete {
  flex-basis: 90%;
}
.calculator_cube {
  flex-basis: 90%;
}
.calculator_shop {
  flex-basis: 90%;
}
.calculator_plate {
  flex-basis: 90%;
}
.calculator_lamp {
  flex-basis: 90%;
}
.calculator__result input {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 95%;
  margin-bottom: 10px;
}
.calculator__result label {
  margin-bottom: 10px;
}
.result__title {
  margin-bottom: 5px;
}
.select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.calkich {
  padding: 7px;
  border-radius: 10px;
  width: 25%;
}
.form__one {
  display: none;
}
.form__second {
  display: none;
}
.form__third {
  display: none;
}
.form__four {
  display: none;
}
.form__five {
  display: none;
}
.form__six {
  display: none;
}
.form__seven {
  display: none;
}
.form__eight {
  display: none;
}
.form__nine {
  display: none;
}
.form__ten {
  display: none;
}
.form__eleven {
  display: none;
}
.form__twelve {
  display: none;
}
.form__thirteen {
  display: none;
}
.select__button {
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
  border-radius: 7px;
}
.change__color {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.color__button {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}
.color__button:hover {
  border: 2px solid blue;
  background-color: #080808;
}
.reset__color {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  margin-left: 10px;
}
.reset__color:hover {
  border: 2px solid blue;
  background-color: #080808;
}
